#svg_adam{
    display:none;
}
.hidden{
    display:none;
}
.gen_it, .rm_boroda{
	background-color:blue;
	color:white;
	width:100%; min-width: 140px; height:40px;
        text-align: center;
        line-height: 40px;
        cursor:pointer;
}
.rm_boroda{
    margin-top:20px;
}
.control{
    float:left;
    padding:10px;
    box-shadow: 0 0 3px 3px black;
}
.box {
    margin:10px 0px 0px 0px;    
}


